
create database [QLUngDung]
USE [QLUngDung]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 28/11/2019 9:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [char](9) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UNGDUNG]    Script Date: 28/11/2019 9:30:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UNGDUNG](
	[MAUD] [char](10) NOT NULL,
	[TENUD] [nvarchar](max) NULL,
	[HINHANH] [nvarchar](50) NULL,
	[SOLUOTDG] [int] NULL,
	[LUOTDOWN] [int] NULL,
	[TONGDG] [int] NULL,
	[DANHGIA] [float] NULL,
	[MALOAI] [char](9) NULL,
 CONSTRAINT [PK__UNGDUNG__60229A7915F80F3F] PRIMARY KEY CLUSTERED 
(
	[MAUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML01     ', N'Ứng dụng')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML02     ', N'Trò chơi')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'ML03     ', N'Sách')
INSERT [dbo].[UNGDUNG] ([MAUD], [TENUD], [HINHANH], [SOLUOTDG], [LUOTDOWN], [TONGDG], [DANHGIA], [MALOAI]) VALUES (N'UD01      ', N'BookHouse', N'BookHouse.jpg', 0, 0, 0, 0, N'ML03     ')
INSERT [dbo].[UNGDUNG] ([MAUD], [TENUD], [HINHANH], [SOLUOTDG], [LUOTDOWN], [TONGDG], [DANHGIA], [MALOAI]) VALUES (N'UD010     ', N'GoViet', N'GoViet.jpg', 0, 0, 0, 0, N'ML01     ')
INSERT [dbo].[UNGDUNG] ([MAUD], [TENUD], [HINHANH], [SOLUOTDG], [LUOTDOWN], [TONGDG], [DANHGIA], [MALOAI]) VALUES (N'UD011     ', N'Lazada', N'Lazada.jpg', 16, 3, 78, 0, N'ML01     ')
GO
ALTER TABLE [dbo].[UNGDUNG]  WITH CHECK ADD  CONSTRAINT [FK__UNGDUNG__MALOAI__1273C1CD] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[UNGDUNG] CHECK CONSTRAINT [FK__UNGDUNG__MALOAI__1273C1CD]
GO
